.bdy-bck{
    background-color: rgba(134, 134, 249, 0.274);

}

.divone {
    background-color: rgba(33, 17, 252, 0.662); 
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; 
    height: auto; 

}
@media (max-width: 1480px) {
    .divone{
        width: 99.5%; 
    }
}
@media (max-width: 1024px) {
    .divone{
        width: 140%; 
    }
}

@media (max-width: 780px) {
    .divone{
        width: 250%; 
    }
}



.divoneimg{
    float:left;
    top: 0px;
    left: -5px;
    width:90px;
    height:90px;
    flex-shrink: 0; 
}

.divone a {
    white-space: nowrap; 
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 55px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}



/* Adjust for medium-sized laptops (768px to 1024px) */
@media (max-width: 1024px) {
    .divone a {
        font-size: 1.1rem;
        padding: 10px 1rem;
    }
}

/* Adjust for screens below 780px */
@media (max-width: 780px) {
    .divone a {
        font-size:1.1rem;
        padding: 10px 1rem;
    }
}



/* Hover effect for links */
.divone a:hover {
    color: rgb(253, 216, 4);
}

/* Underline animation for links */



.search-container {
    display: inline;
    align-items: center;
    position: relative;
}

.search-bar {
    padding: 10px 45px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    width: 300px; 
    outline: none;
}

.search-button {
    
    position: absolute;
    right: 10px;
    top:9px;
    bottom: 0px;
    height:25px;
    left:250px;
    border: none;
    background-color: #ffffffe7;
    color: rgb(12, 12, 12);
    border-radius: 0 20px 20px 0; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.searchmic-button{
    position: absolute;
    right: 10px;
    top:9px;
    bottom: 0px;
    height:25px;
    border: none;
    background-color: #ffffffe7;
    color: rgb(12, 12, 12);
    border-radius: 0 20px 20px 0; 
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

.search-button i {
    font-size: 16px; 
}

.divtwo{
    background-color: rgba(255, 153, 0, 0.662);
    width: 1440;
    height: 396;

}
.divtwoimg{
    float:left;
    position: absolute;
    top: -12px;
    left: -5px;
    width:90px;
    height:90px;
   
}
.ad-bar {
    background-color: #ffcc00; 
    color: #333;
    margin-top: 50px;
    margin-left: 165px;
    
    position: sticky;
    width: 1160px;
    height: 396px;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.ad-image {
    width: 1168px;
    height: 396px;
}


.ad-close-btnone {
    position:absolute;
    top:350px;
    right:50px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #000000;
    padding: 6px 20px;
    font-weight: bold;
}
.ad-close-btntw {
    position:absolute;
    top:350px;
    right:10px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #000000;
    padding: 5px 10px;
    font-weight: bold;
}
.ad-close-btn:hover {
    color: #000;
}

.user-bar {
    background-color: #f8f6f6; 
    margin-left: 105px;
    
    position: absolute;
    top:650px;
    left:95px;
    width: 1100px;
    height: 1027px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.user-borone{
    position: absolute;
    width: 350px;
    height: 275px;
    margin-top:105px;
    margin-left:10px;
    border-style:solid;
    border-color: rgb(192, 189, 189);

}
.user-imageone {
    border-color: rgb(192, 189, 189);
    width: 350px;
    height: 190px;
    padding-top:0.5px;
    padding-left:0.1px;

}

.user-hd{
padding-top:30px;
padding-left:8px;

}
.user-onenam{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;

}
.user-oneprc{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;
    color:#4d4d4d;

}

.user-bortw{
    position: absolute;
    width: 350px;
    height: 275px;
    margin-top:105px;
    margin-left:371.7px;
    border-style:solid;
    border-color: rgb(192, 189, 189);
}

.user-imagetw {
    border-color: rgb(192, 189, 189);
    width: 350px;
    height: 190px;
    padding-top:0.5px;
    padding-left:0.1px;

}

.user-twnam{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;

}
.user-twprc{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;
    color:#4d4d4d;

}

.user-borthr{
    position: absolute;
    width: 350px;
    height: 275px;
    margin-top:105px;
    margin-left:735px;
    border-style:solid;
    border-color: rgb(192, 189, 189);
}

.user-imagethr {
    border-color: rgb(192, 189, 189);
    width: 350px;
    height: 190px;
    padding-top:0.5px;
    padding-left:0.1px;

}

.user-thrnam{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;

}
.user-thrprc{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;
    color:#4d4d4d;

}

.user-borfur{
    position: absolute;
    width: 350px;
    height: 275px;
    margin-top:550px;
    margin-left:10px;
    border-style:solid;
    border-color: rgb(192, 189, 189);
}

.user-imagefur {
    border-color: rgb(192, 189, 189);
    width: 350px;
    height: 190px;
    padding-top:0.5px;
    padding-left:0.1px;

}

.user-furnam{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;

}
.user-furprc{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;
    color:#4d4d4d;

}

.user-borfv{
    position: absolute;
    width: 350px;
    height: 275px;
    margin-top:550px;
    margin-left:371.7px;
    border-style:solid;
    border-color: rgb(192, 189, 189);
}

.user-imagefv {
    border-color: rgb(192, 189, 189);
    width: 350px;
    height: 190px;
    padding-top:0.5px;
    padding-left:0.1px;

}

.user-fvnam{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;

}
.user-fvprc{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;
    color:#4d4d4d;

}

.user-borsx{
    position: absolute;
    width: 350px;
    height: 275px;
    margin-top:550px;
    margin-left:735px;
    border-style:solid;
    border-color: rgb(192, 189, 189);
}

.user-imagesx {
    border-color: rgb(192, 189, 189);
    width: 350px;
    height: 190px;
    padding-top:0.5px;
    padding-left:0.1px;

}

.user-sxnam{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;

}
.user-sxprc{
    padding-top:0.1px;
    padding-left:10px;
    font-size: 17px;
    color:#4d4d4d;

}

.ad-cmp{
    background-color: #f8f6f6;
    margin-top: 1400px;
    margin-left: 105px;
    width: 1300px;
    height: 217px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.ad-h1{
    padding-top:50px;
    padding-left:520px;

}
.ad-h2{
    padding-top:1px;
    padding-left:470px;
    font-size: 40px;

}

.ad-cmpimg{
    position: absolute;
    padding-top:15px;
    padding-left:100px;
    width: 240px;
    height: 185px;
    border-radius: 190px 5px 5px 5px ; 
    animation: scaleImage 5s infinite alternate;

}

@keyframes scaleImage {
    0% {
        transform: scale(0) rotate(90deg);         
        opacity:0px;
    }
    100% {
        transform: scale(1) rotate(0deg);         
        opacity:1px;

    }
}

.paywall{
    position: absolute;
    margin-top: -90px;
    margin-left:1450px;
    color:rgb(20, 19, 19);
    font-size: 20px;
}
.paydiv{
    height: 450px;
    width: 500px;
    background-color: rgba(255, 247, 5, 0.34);
    margin-top: 50px;
    margin-left: 350px;

}

.payall{
    margin-top:50px;
    margin-left:120px;
    font-size: 20px;
}
.btn_kati{
    background-image: url('/static/image/khalti-logo.png');
    height:40px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:50px;
    margin-left: 120px;


}
.btn_eswa{
    background-image: url('/static/image/OIP.jpeg');
    height:120px;
    width: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:20px;
    margin-left:150px;
    background-color: white;
    padding-top:50px;
    


}
.payclik{
    position: absolute;
    font-size: 20px;
    margin-top: 90px;
    margin-left:150px;
    color: red;

}
