.divel{
background: linear-gradient(135deg, #f4d9b2 0%, #a6c1ee 100%);    
    margin-left: 145px;
    margin-top:55px;
    width: 1200px;
    height: 1464px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    

}
.el-lists {
    position: absolute;
    background-color: rgb(251, 251, 249); 
    margin-left: 25px;
    margin-top: 25px;
    width: 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 25);
    border-style: groove;
    display: flex;
    flex-direction: column;  
    height: auto; 
}
.el-liststw{
    margin-left: 11px;

}

.el-zoom:hover {
  transform: scale(0.85); 

  background-color:rgba(157, 200, 248, 0.947);
  border-radius: 50px;
  width:40%;

}


.el-lists a {
    display: flex;
    align-items: center;      
    color: rgb(0, 0, 0);     
    font-size: 20px;
    padding: 15px 50px;          
    text-decoration: none;              
}





.search-elbar{
    position: absolute;
    padding: 10px 45px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    width: 105px; 
    outline: none;
}


.search-elcant{
    display: inline;
    align-items: center;
    position: absolute;
    padding-left:285px;
    padding-top:25px;


}

.search-elbutton {
    
    position: absolute;
    padding-left:175px;
    padding-top:11px;
    height:0px;
    width: 0px;
    border: none;
    background-color: rgba(251, 251, 249, 0.148); 
    color: rgb(12, 12, 12);
    border-radius: 0 20px 20px 0; 
    cursor: pointer;
    align-items: center;
    justify-content: center;

}
.el-new{
    position: absolute;
    margin-left:530px;
    margin-top:8px;
    background-color: black;
    color:white;
    border-radius: 5px;

}
.el-asc{
    position: absolute;
    margin-left:620px;
    margin-top:8px;
    width:125px;
    border-radius: 5px;

}
.el-dsc{
    position: absolute;
    margin-left:780px;
    margin-top:8px;
    width:125px;
    border-radius: 5px;

}




