<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="E:\file\college file\asim\5th\e commerce proj\code\css\divhome02.css">
    <link rel="stylesheet" href="E:\file\college file\asim\5th\e commerce proj\code\css\act.css">

    <title>account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=100.0">

</head>
<body class="bdy-bck">
    <div>
        <nav class="divone">
        <!-- navigation bar for website-->

            <img class="divoneimg" src="E:\file\college file\asim\5th\e commerce proj\code\image\next.png" alt="Logo">

            <a href="home02.html">Home</a>
            <a href="electron01.html">Electronics</a>
            <div class="search-container">
                <input type="text" class="search-bar" placeholder="Search electronic device at puranopasal" aria-label="Search">
                <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
                </button>
            </div>

            <a href="#">BOOST ADS</a>
            <a href="signup01.html"><i class="fas fa-user-alt"></i>  Sign up</a>
            <a href="signin01.html"><i class="fas fa-user-alt"></i> Sign in</a>
            
        </nav>
<div class="acct-one">
    <div class="acct-tw">

    </div>
    <div class="acct-wrd">
        <table>
            <tr>
                <td><p>Name : </p></td>
                <td><p>Text</p></td>

                </tr>
                <tr>
                    <td><p>Phone Number : </p></td>
                    <td><p>Text</p></td>
    
                    </tr>
                    <tr>
                        <td><p>Location : </p></td>
                        <td><p>Text</p></td>
        
                        </tr>
    <table>
<input type="button" value="Profile Edit" class="btn-edit">

    </div>
    
</div>
<div class="acct-list">
<a href="" class="acct-a">Ads Post</a>
<a href="" class="acct-a">Analytics</a>
<a href="" class="acct-a">Save Lists</a>
    </div>
<div>
    <input type="button" value="Ads Post" class="acct-btnone">
    <input type="button" value="All" class="acct-btntw">
    <input type="button" value="Sold" class="acct-btnthre">
    <input type="button" value="Expire" class="acct-btnfur">

    </div>

</body>
</html>
