{% load static %}
<!DOCTYPE html>
<head >
    <title>profiledit</title>
    <link rel="stylesheet" href="{% static 'css/profileedit01.css' %}">

</head>
<body>
    <form calss="profile_frm">
        <input type="text" name="firstname" placeholder="Frist Name"><br>
        <input type="text" name="middlename" placeholder="Middle Name"><br>
        <input type="text" name="lastname" placeholder="Last Name"><br>
        <input type="text" name="phonenumber" placeholder="Phonenumber"><br>
        <input type="text" name="location" placeholder="Location"><br>
        <input type="submit" name="submit"><br>

        </form>

    
</body>
</html>